@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  --light-blue: #EBEFFA;
  --light-green: #E5FFE7;
  --light-gray: #F7F7F7;
  --light-red: #FFEAEA;
  --blue: #597ED4;
  --green: #00be06;
  --red: #ff7171;
  --dark-blue: #415C9B;
}

/**** Elements ****/

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--blue);
}

h1,
p {
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.60);
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:focus {
  outline: .0625rem solid var(--blue);
}

/**** Heading Text ****/

.heading-1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.60);
  padding: 0;
  margin: 0;
}

.heading-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.60);
  padding: 0;
  margin: 0;
}


/**** Body Text ****/

.body-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.60);
}

.body-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
}