@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  --blue: #597ED4;
}

/**** Elements ****/

body {
  margin: 0;
}

a {
  color: var(--blue);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 1px solid var(--blue);
}

/**** Heading Text ****/

.heading-1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
}


/**** Body Text ****/

.body-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
}

.body-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
}